.col {
  padding: 10px;
}

html {
	font-family: sans-serif;
}

ul#generated-passwords-list {
    background: aliceblue;
    max-width: 15%;
    overflow: auto;
}

ul#generated-passwords-list li {
	/* user-select: none; */
}

ul#generated-passwords-list li:hover {
	cursor: pointer;
	font-weight: bold;
	list-style: circle;
}

ul#generated-passwords-list li:active {
	color: red;
}


li {
	margin: 10px 0;
}
